main {
  .gallery {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
