/* Windows Phone and in iOS */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*  ----------------  body  --------------*/
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 1rem;
}
/*---------------header------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primaryColor;
  color: $secondaryColor;
  padding: 1rem $gutter;
  input {
    height: 1.5rem;
    width: 6rem;
    border-radius: 0.6rem;
    border: none;
    padding: 0.2rem;
    outline: none;
    transition: width 0.5s ease;
  }
  input:focus {
    width: 8rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: $normalWeight;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
}
/*------------navigation------------- */
nav {
  background: $secondaryColor;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  ul {
    display: flex;

    li {
      width: 25%;
      border-right: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
  ul li:last-child {
    border-right: none;
  }
  ul li a {
    display: block;
    text-align: center;
    font-weight: $boldWeight;
    padding: 0.8rem 0;
    color: $primaryColor;
    text-decoration: none;
    transition: all 0.6s ease;
  }
  ul li.active a {
    background: darken($secondaryColor, 20%);
  }
  ul li a:hover {
    color: $secondaryColor;
    background: $primaryColor;
  }
}
/*----------------main-----------------*/
main {
  //overflow: hidden;
  .banner {
    width: 100%;
    // height: 90vh;
  }
  .banner img {
    width: 100%;
    // height: 100%;
  }
  h1 {
    font-size: 2rem;
    margin: 1rem 0 0 $gutter;
    color: $primaryColor;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0 0 $gutter;
    color: lighten($primaryColor, 10%);
  }
  h3 {
    font-size: 1.2rem;
    color: lighten($primaryColor, 20%);
  }
  p {
    margin: 0.5rem 0 0.3rem $gutter;
    line-height: 130%;
    color: $defaultFont;
  }
  .fadeAway {
    height: 2px;
    border: none;
    margin: 0 $gutter;
    background: linear-gradient(to right, #424e64, #fff);
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%-$dbGutter;
    margin: 0.5rem $gutter;
  }
  .gallery-box p {
    text-align: center;
    color: $primaryColor;
    font-size: 1.2rem;
  }
  .gallery-box img {
    width: 100%;
  }
  .blog article {
    margin: 0.5rem $gutter;
    width: 100%-$dbGutter;
  }
  article h3 {
    text-align: center;
  }
  .pop {
    background: $accent;
    text-align: center;
    padding: 1rem 0;
    .title {
      font-size: 2.5rem;
    }
    .subtitle {
      font-size: 2rem;
      font-weight: $boldWeight;
    }
    .copy {
      padding: 0.5rem 0;
    }
    .copy span {
      font-size: 3rem;
      color: $primaryColor;
      font-weight: $boldWeight;
    }
  }
}

/*---------footer----------*/
footer {
  width: 100%;
  background: $primaryColor;
  p {
    text-align: center;
    color: $secondaryColor;
    padding: 0.75rem 0;
    font-size: 0.9rem;
  }
  p a {
    color: $secondaryColor;
  }
}
