$primaryColor: #66000a;
$secondaryColor: #ccccb8;
$font-color: #331912;
$accent: #8c8c38;

$gutter: 2%;
$dbGutter: (2 * $gutter);

$defaultFont: "Lato", sans-serif;
$montserrat: "Montserrat", sans-serif;
$normalWeight: 300;
$boldWeight: 700;
